# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/
PathEdit.exe

# Visual Studio profiler
*.psess
*.vsp
*.vspx


# Click-Once directory
publish/

# Publish Web Output
*.[Pp]ublish.xml
*.azurePubxml